1. /rolepage - добавление роли пользователя отрабатывает, необходимо только верстку поправить
2. /grouppage - добавление товарной группы работает, сбоку на панельке все отображается как надо
3. /item - добавление товара (тестировать), отображение товаров по группам
4. /cart - есть создание корзины, добавление товара в корзину (протестировать)
5. /user -
регистрация
авторизация
6. /order - есть создание заказа
7. /payment - есть оплата заказа
8. /message - есть отправка и вывод сообщений
9. /sendmoney - сделать отправку средств - реализация есть

Все пункты нуждаются в проверке.

